.articles{
    min-height: 500px;
    padding: 30px;
}

.articles .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articles .card-header{
    font-weight: bold;

}

.section-title{
    font-size: 2.rem;
    padding: 15px 0;

}