
.navbar{
    padding: 2.2rem;
  
    background-color: #f5f6f7;
  
}

.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler{

    font-size: 30px;
    border: none;
    
    
}

.brand{
    border-radius: 50%;
    background-color: rgba(17, 163, 231, 0.692);
    border: 3px solid rgba(8, 8, 8, 0.774);
    
}



/* responsive */

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}

